
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* CELULARES*/ 
        
@media only screen and  (max-width: 428px) {
   
    body{        
        background-color: white;       
    }

    .container{
        display: grid;
        place-items: top;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;  
              
    }

    main {  
        display: grid;
        place-items: center;  
        width: auto;
        height: auto;  
        padding: 0;
        
         
    }

    footer {
        margin-top: -30px;
    }

    .esconder{
        display: none;
    }

    .sucesso{
        display: grid;
        place-items: center; 
        margin: 0 auto;
        background-color: white;
        border: 1px solid none;
        border-radius: 50px;
        width: 100%; 
        height: auto;
    }

    .sucesso button{
        border: 1px solid none;
        border-radius: 5px;        
        padding: 5px;
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        font-size: 10px;   
        width: 100%;
        height: 40px;
        margin-bottom: 0;
        padding-bottom: 0;   
   }

   .sucesso button:hover{
    background-image: linear-gradient(to right, #e78686, #ec807e, #f17976, #f6726d, #fa6b64, #fb6b60, #fd6a5c, #fe6a58, #fd7059, #fd765b, #fc7c5d, #fb815f);    
    border-color: hsl(4, 100%, 67%);
    cursor: pointer;
   }

    .caixa-conteudo-sucesso{        
        display: grid;
        place-items: left;
        height: 100%;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding: 20px;
        margin-top: 50px;
    }


    


    .caixa-conteudo-sucesso img{
        margin-bottom: 20px;
        
    }

    .caixa-conteudo-sucesso h1{
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 50px;
        
    }

    .caixa-conteudo-sucesso p{
        margin-bottom: 60%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        
    }

    .caixa-conteudo-sucesso button{
        border: 1px solid none;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 5px;
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        font-size: 16px;   
        width: 100%;  
        height: 60px; 
   }

    

   .formulario{
        display: grid;
        place-items: center;
       width: 100%;
       height: auto; 
       padding: 40px; 
       
       
             
    }

    .formulario button:hover{
        background-image: linear-gradient(to right, #e78686, #ec807e, #f17976, #f6726d, #fa6b64, #fb6b60, #fd6a5c, #fe6a58, #fd7059, #fd765b, #fc7c5d, #fb815f);    
        border-color: hsl(4, 100%, 67%);
       }

   .formulario h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        margin-top: -20px;
        
   }

   .formulario p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
   }

   .formulario label{
        font-weight: 700;
        font-size: 10px;
    
   }


   .caixa-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
   }
   
   .error {   
    color: red;   
   }

   .input-email{
        border: 1px solid hsl(231, 7%, 60%);
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 10px;  
        width: 95%;
        padding-left: 20px;  
        height: 40px;
   }



   .formulario input{
        border: 1px solid hsl(231, 7%, 60%);
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 12px;  
        width: 95%;
        padding-left: 20px;  
   }

   .formulario button{
        border: 1px solid none;
        border-radius: 5px;        
        padding: 5px;
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        font-size: 10px;   
        width: 95%;
        height: 40px;
        margin-bottom: 0;
        padding-bottom: 0;   
   }

   .formulario button:hover{
    background-color: hsl(4, 100%, 67%);
   }

   .input-email-erro{
    border: 1px solid red;     
    background-color: hsl(4, 100%, 95%); 
    color: red;   
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 10px;  
    width: 100%;
    height: 40px;
    padding-left: 20px;  
}

.input-email-erro::placeholder{
   
    color:  hsl(4, 100%, 65%);
    
    
}



   
  ul li{
        background: url('./assets/images/icon-list.svg') no-repeat left top;
        padding: 0px 10px 0px 25px;
        list-style: none;
        vertical-align: middle;
        font-size: 15px;
        margin-left: -40px;
  }

   .imagem{    
        display: none;
        flex-direction: column;
        justify-content: center;    
        border: 1px solid none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 0;
        margin: 0; 
        
        
   }

   .imagem-mobile{    
        display: grid;
        place-content: center; 
        border: 1px solid none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        padding-top: 0;
        position: relative;
        top: 0;     
        
}

    .imagem-cel{
        position: relative;
        top: 0;
        display: block;
        width: auto;
        padding: 0;
        margin: 0;
    }

   .imagem img{
       display: block;
       width: 100%;
       margin: 0;
       padding: 0;
              
    }
    

     
    
}

/* DESKTOP */ 

@media (min-width: 429px){

    
    body{
        
        background-color:hsl(234, 29%, 20%);
        display: grid;
        place-items:  center;
        width: 100vw;
        height: 100vh;
        
        
    }

    .container{
        display: grid;
        place-items:  center;
        height: auto;
        width: auto;
        background-color: white;
        
    }

    main {
        min-height: 100%;
        min-height: 100%;
        
        
         
    }

    .esconder{
        display: none;
    }

    .sucesso{
        display: grid;
        place-items: center; 
        margin: 0 auto;
        background-color: white;
        border: 1px solid none;
        border-radius: 50px;
        min-height: 100%;
        min-height: 100%;
           

    }

    .sucesso button{
        border: 1px solid none;
        border-radius: 5px;        
        padding: 5px;
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        font-size: 10px;   
        width: 100%;
        height: 60px;
        margin-bottom: 0;
        padding-bottom: 0;   
   }

   .sucesso button:hover{
    background-image: linear-gradient(to right, #e78686, #ec807e, #f17976, #f6726d, #fa6b64, #fb6b60, #fd6a5c, #fe6a58, #fd7059, #fd765b, #fc7c5d, #fb815f);    
    border-color: hsl(4, 100%, 67%);
    cursor: pointer;
   }


    .caixa-conteudo-sucesso{        
        display: grid;
        place-items: left;
        height: 500px;
        width: 450px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        

    }

    .caixa-conteudo-sucesso img{
        margin-bottom: 20px;
        
    }

    .caixa-conteudo-sucesso h1{
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 50px;
        
    }

    .caixa-conteudo-sucesso p{
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        
    }

    .caixa-conteudo-sucesso button{
        border: 1px solid none;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 5px;
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        font-size: 16px;   
        width: 100%;   
   }
   

   .formulario{
        display: grid;
        place-items: center;       
        background-color: white;
        border: 1px solid none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;       
    } 

   .formulario h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
   }

   .formulario p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 10px;
   }

   .formulario label{
        font-weight: 700;
        font-size: 10px;   
   }

   .caixa-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   
   .error {   
    color: red;   
   }

   .input-email{
        border: 1px solid hsl(231, 7%, 60%);
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 10px;  
        width: 100%;
        padding-left: 20px;  
        height: 40px;
   }

   .formulario button{
        border: 1px solid none;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        font-size: 12px; 
        font-weight: 700;  
        width: 100%;  
        height: 40px; 
   }

   .input-email-erro{
    border: 1px solid red;     
    background-color: hsl(4, 100%, 95%); 
    color: red;   
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 10px;  
    width: 100%;
    height: 40px;
    padding-left: 20px;  
}

.input-email-erro::placeholder{
   
    color:  hsl(4, 100%, 65%);
    
    
}



   .formulario button:hover{
    background-image: linear-gradient(to right, #e78686, #ec807e, #f17976, #f6726d, #fa6b64, #fb6b60, #fd6a5c, #fe6a58, #fd7059, #fd765b, #fc7c5d, #fb815f);    
    border-color: hsl(4, 100%, 67%);
    cursor: pointer;
   }

   .formulario input:hover{
    cursor: pointer;
   }


   
  ul li{
        background: url('./assets/images/icon-list.svg') no-repeat left center;
        padding: 5px 10px 5px 25px;
        list-style: none;
        margin: 0;
        vertical-align: middle;
        font-size: 10px;
        margin-left: -40px;
  }

  .imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
    
}

   

   .imagem img{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .imagem-mobile{    
        display: none;
        flex-direction: column;
        justify-content: center;    
        border: 1px solid none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
    }
    


}